

/* form{
    background-color: #496fbb;
    border-radius: 1rem;
    color: white;
}

form h1{
    color: #071c45;
    padding-bottom: 4rem;
}


form a{
    color: white;
    text-decoration: none;
}

form a:hover{
    text-decoration: underline;
}
 
form button{
    border-radius: 0.7rem;
    border: white;
    padding: 0.6rem;
    margin: 1rem;
    background-color: #233e74;
    color: white;
}  */
header, footer{
    background-color: #86a6e7;
}


#buttonEnviar{
    background-color: #233e74;
}

a{
    text-decoration: none;
} 
a:hover{
    text-decoration: underline;
} 